ENV=development
PORT=8002
ALLOWED_API_KEYS=
DATABASE_DSN=
REDIS_URL=


# ------ Biteship related
BITESHIP_API_KEY=
BITESHIP_BASE_URL=

# ----- Wilayah.id
WILAYAH_BASE_URL=

# ---- Xendit
XENDIT_API_KEY=
XENDIT_BASE_URL=
XENDIT_WEBHOOK_TOKEN=

TOKOKARYA_API_KEY=
TOKOKARYA_URL=

# ---- Protect Swagger UI with basic auth
SWAGGER_USERNAME=admin
SWAGGER_PASSWORD=admin123
