ENV=development
PORT=
ALLOWED_API_KEYS=


# ------ Biteship related
BITESHIP_API_KEY=
BITESHIP_BASE_URL=

# ----- Wilayah.id
WILAYAH_BASE_URL=

# ----- Xendit (XenPlatform)
XENDIT_API_KEY=
XENDIT_BASE_URL=
XENDIT_WEBHOOK_TOKEN=
