ENV=development
PORT=
ALLOWED_API_KEYS=
DATABASE_DSN=postgresql://neondb_owner:npg_bCvHPKY3W6XL@ep-bold-dust-ao73w39m-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
REDIS_URL=redis://localhost:6379


# ------ Biteship related
BITESHIP_API_KEY=
BITESHIP_BASE_URL=

# ----- Wilayah.id
WILAYAH_BASE_URL=

# ----- Xendit (XenPlatform)
XENDIT_API_KEY=
XENDIT_BASE_URL=
XENDIT_WEBHOOK_TOKEN=
